.nav{
    width: 100vw;
    height: 90px;
}
.navbar-toggler {
    display: none;
    background: none;
    border: none;
    color: #000;
    font-size: 24px;
    cursor: pointer;
}

.containerNav{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav__item--logo img{
    height: 4rem;
    border-radius: 2px;
}
.nav__item--searchBar{
    width: 30%;
}

.links{
    height: 100%;
    display: flex;
    list-style: none;
    gap: 30px;
    align-items: center;
    margin-bottom: 0;
    padding-left: 0;
}

.links__link{
    color: #000;
    text-decoration: none;
}
.bi-cart3{
    font-size: 1.3rem;
}
.item__user img{
    width: 40px;
}
.item__user{
    position: relative;
    cursor: pointer;
}
.links__option--car {
    position: relative;
}
.cantProCar{
    position: absolute;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    width: 25px;
    text-align: center;
    top: -10px;
    right: -10px;
}
@media screen and (max-width: 1190px) {
    .navbar-toggler{
        display: block;
    }
    .searchBar{
        width: 50%;
    }
    .links{
        display: none;
    }
    .links {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: fixed;
      top: 0;
      right: -100%;
      width: 290px;
      height: 100%;
      background-color: #fff;
      transition: 0.3s;
      z-index: 100;
    }
    .btn--close{
        position: absolute;
        font-size: 20px;
        cursor: pointer;
        top: 5%;
        right: 12%;
    }
    .links.show {
      right: 0;
    }
  
    .links__link {
      color: #000;
      padding: 15px;
      font-size: 1.2rem;
    }
    .cuenta{
        right: -100px;
    }
} 
  
  