@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.diseño{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    margin: 50px 0;
    gap: 50px;
}

.diseño__image{
    background-image: url(../../public/Home.jpeg);
    width: 40%;
    background-size: cover;
    border-radius: 10px;
}
.diseñoText{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat';
}
.diseñoText h3{
    font-size: 3rem;
    font-weight: bold;
    line-height: 5rem;

}
.btnProd {
    text-decoration: none;
    color: #fff;
}
.clientes{
    width: 90%;
    margin: 30px auto;
    text-align: center;
}
.reseñasClientes{
    display: flex;
    gap: 30px;
    margin-top: 30px;
}
.reseña{
    border: 2px solid #000;
    border-radius: 10px;
}
.reseña__user{
    display: flex;
}